
.message{
  text-align: center;
  line-height: 22px;
  font-family: 'MetropolisLight';
  margin-bottom: 0;
}
.message span{
  font-family: 'MetropolisBold';
  padding-left: 5px
}
.number-form {
  padding-top: 25px;
}
.number-form input{
  font-size: 30px;
  background: #F5F6F9;
  width: 100%;
  padding: 10px 20px;
  border: 0.5px solid #E0E0E0;
  border-radius: 60px;
  text-align: center;
  line-height: 40px;
}
.number-form input.error{
  border: 0.5px solid red;
}
.error-msg{
  color: red
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.number-form input:focus{
  outline: none;
}
.number-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 20px;
}
.number-form input::-moz-placeholder { /* Firefox 19+ */
  font-size: 20px;
}
.number-form input:-ms-input-placeholder { /* IE 10+ */
  font-size: 20px;
}
.number-form input:-moz-placeholder { /* Firefox 18- */
  font-size: 20px;
}

.helper-text{
  padding: 5px;
  font-size: 10px;
  font-family: 'MetropolisMedium';
  text-align: center;
}
.submit-btn:disabled{
  background: #C9C9C9;
  color: #ffffff;
  box-shadow: none;
}
.submit-btn {
  background: linear-gradient(0deg, #009FE3, #009FE3), 
    linear-gradient(270.53deg, #FECE00 0.18%, #FF1D79 58.96%, #C200D5 100%);
  border-radius: 60px;
  width: 100%;
  border: none;
  color: #FFF;
  padding: 10px;
  line-height: 40px;
  box-shadow: 0px 30px 30px -27px rgb(0 159 227 / 44%);
  font-family: 'MetropolisMedium';
}
.submit-btn img{
  width: 13px;
  margin-left: 5px;
}